body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    /* Chrome, Safari, Opera*/
    display: none;
}

body::-webkit-scrollbar-thumb {
    /* Chrome, Safari, Opera*/
    background: #eef1fd;
}

.show-scrollbar ::-webkit-scrollbar {
    display: block !important;
}

.board-container {
    width: 100%;
}

.emoji {
    background: transparent;
}

.slick-dots {
    bottom: -15px !important;
}

.slick-dots li.slick-active button:before {
    color: #4CDAD8 !important;
}

#editor {
    position: relative !important;
}

.emoji-picker-react {
    position: absolute !important;
    z-index: 100;
    top: 56px;
    right: 36px;
    display: none !important;
}
.g-recaptcha {
    transform:scale(0.77);
    transform-origin:0 0;
}
.scroll-css {}

.scroll-css::-webkit-scrollbar {
    width: 10px;
}

.scroll-css::-webkit-scrollbar-thumb {
    background-color: #67AC5B29;
}

.scroll-css::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {}

.menu-icon {
    width: 2rem;
    height: 1.5rem;
    background: 50% no-repeat;
    background-size: contain;
    margin: 0 auto;
    position: relative;
    padding: 0.6rem;
}

#editor {
    margin: 24px;
}

#board-content {
    width: 2.2rem;
    font-size: 2rem;
    margin: 1.5rem 0 0.5rem 0;
}

#board-text {
    font-size: 12px;
}

.subtype-container::-webkit-scrollbar {
    display: none;
}

.note {
    width: 100%;
    margin: 16px 0;
}

div.note>img {
    width: 100%;
}

div.note>p>img {
    width: 100% !important;
}

.pointer {
    cursor: pointer;
}
.long-input{
    width: 300px !important;
}
.bar {
    flex: auto;
    border: 1px solid #4CDAD8;
    height: 2px;
    background: #4CDAD8;
}

.smaller-margin-right-content {
    margin: 0 1rem 0 auto;
}

.hamburgur{
    width: 2rem; 
    height: 1.5rem;
    cursor: pointer;
    right: 0;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 400ms;
}

.scroll-table::-webkit-scrollbar{
    display: none;
}
.scroll-table::-webkit-scrollbar-thumb {
    /* Chrome, Safari, Opera*/
    background: rgba(103, 172, 91, 0.094);
}

  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .box {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    cursor: pointer;
    outline: none;
  }
  
  .box img {
    margin: -120px;
  }
  
  .kuku {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -115px;
    z-index: -1;
  }
  
  .lid {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -0.2em;
  }
  
  .jump {
    animation: 1s jump infinite alternate;
  }
  
  .move {
    animation: 1s wiggle infinite linear;
  }
  
  .rotating {
    animation: 1s rotating;
  }
  
  .rotated {
    transform: rotate(145deg) translate(-70%, -170px);
  }
  
  @keyframes wiggle {
    10%,
    90% {
      transform: translate(-50%) translate3d(-1px, 0, 0);
    }
  
    20%,
    80% {
      transform: translate(-50%) translate3d(2px, 0, 0);
    }
  
    30%,
    50%,
    70% {
      transform: translate(-50%) translate3d(-4px, 0, 0);
    }
  
    40%,
    60% {
      transform: translate(-50%) translate3d(4px, 0, 0);
    }
  }
  
  @keyframes rotating {
    0% {
      transform: rotate(0deg) translate(-50%, 0);
    }
  
    100% {
      transform: rotate(145deg) translate(-70%, -170px);
    }
  }
  
  @keyframes jump {
    from {
      bottom: -115px;
    }
    to {
      bottom: 10em;
    }
  }
select.select-option:not(:checked) { 
    color: #FFF; 
}
select.select-option option { 
    color: #2c2c2c; 
}
@media screen and (max-width:1050px) {
    .hamburgur{
        position: relative;
    }
}

@media screen and (max-width:1200px) {}

@media screen and (max-width:1150px) {
    .long-input{
        width: 200px !important;
    }
}

@media screen and (max-width:900px) {
    #editor {
        margin: 16px auto;
        width: 90%;
        padding: 8px;
    }
}

@media screen and (max-width:700px) {}

@media screen and (max-width:600px) {
    .prevArrow {
        position: absolute;
        top: 30vw;
        left: 6px;
        z-index: 2;
        cursor: pointer;
        font-size: 28px;
        padding: 4px 6px 0px 3px;
        border-radius: 50%;
        background: #aaaaaa55;
        color: #fff !important;

    }

    .nextArrow {
        position: absolute;
        top: 30vw;
        right: 6px;
        z-index: 2;
        cursor: pointer;
        font-size: 28px;
        padding: 4px 4px 0px 5px;
        border-radius: 50%;
        background: #aaaaaa55;
        color: #fff !important;

    }

    .progress-bar {
        appearance: none;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;

    }

    .progress-bar::-webkit-progress-bar {
        background: #f0f0f0;
        border-radius: 0;
    }

    .progress-bar::-webkit-progress-value {
        border-radius: 0;
        background: #4CDAD8;
    }
}

@media screen and (max-width:600px) {
    .smaller-margin-right-content {
        margin: 0 0.5rem 0 auto;
    }
}

.dark-mode {
    background: #222 !important;
    color: #fff !important;
}